version: '3.8'

services:
  app:
    image: 'docker-spring-boot-postgres:latest'
    build:
      context: .
    container_name: app
    depends_on:
      - db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=@Goldenboy2310@
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/hechoenperu
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=@Goldenboy2310@
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - UPLOADS_FOLDER=/app/uploads

    ports:
      - "6868:8080"
    volumes:
      - uploads_data:/app/uploads
  db:
    image: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=@Goldenboy2310@
      - POSTGRES_DB=hechoenperu
    ports:
      - "5433:5432"
volumes:
  db_data:
  uploads_data: